body {
  background-color: #333;
  color: #ccc;
}

.header img {
  height: 2.5rem;
}

.header .btn img {
  height: 1em;
  margin-bottom: 0.2em;
}

.header h3 {
  color: #fff;
}

.chart-row {
  height: 22rem;
}

.bute-name {
  font-size: 60%;
  font-weight: 400;
  line-height: normal;
}

.bute-name a {
  color: #39f;
}

.chart-container {
  position: relative;
  margin: auto;
}

#canvas-eci-container {
}

div#canvas-ecef-container {
  max-height: 40rem;
}

div#canvas-ecef div.konvajs-content {
  margin: 0 auto;
}

#canvas-eci {
  width: 100%;
  height: 100%;
}

#timeSelector-container {
  width: 100%;
}

#map-container {
  height: 15rem;
}

#timeSelector {
  width: 100%;
}

#cesiumContainer {
  width: 100%;
  height: 100%;
}

#timeDisplay {
  color: #cccccc;
}

div#loading-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  margin: 0 auto;
}

div#loading-overlay > div#loading-overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
}
